{
  "root": true,
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/naming-convention": "error",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "indent": "off",
    "eqeqeq": "error",
    "semi": "off",
    "no-throw-literal": "error",
    "curly": ["error", "multi"],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"]
  }
}
