# See https://help.github.com/articles/ignoring-files/ for more information on ignoring files.

# dependencies
node_modules/

# testing
coverage/
.vscode-test/
__output__/

# production
dist/
out/
build/

# packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.vsix

# private/secret files
*.der
*.key
*.pem
.env

# misc
.DS_Store
